<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="columnsetting">
      <section type="JSDG.CBI.A.ETBConfig.ConfigSection,JSDG.CBI.A" name="CommModel" />
            
      <section type="JSDG.CBI.A.ETBConfig.ConfigSection,JSDG.CBI.A" name="SheetHeader" />
      <section type="JSDG.CBI.A.ETBConfig.ConfigSection,JSDG.CBI.A" name="MaxNum" />
      <section type="JSDG.CBI.A.ETBConfig.ConfigSection,JSDG.CBI.A" name="MinNum" />

    </sectionGroup >
   
    <sectionGroup name="ConfigData">
      <section type="JSDG.CBI.A.ETBConfig.ConfigSection,JSDG.CBI.A" name="ConfigData" />
    </sectionGroup>
  </configSections>
  <!--SHeetName与DeviceType映射-->
  <appSettings>
    <add key="CommCbiSheet" value="TCC-CBI码位表"/>

  </appSettings>
  <!--End-->
  <!--地铁的设置-->


  <!--<Metro>-->
  <columnsetting>
    <SheetHeader>
      <add key="CommCbiSheet" value="1"></add>
    </SheetHeader>
    <!--<单个控区设备数量>-->
    <MaxNum>
      <!--<add key="BlockSheet" value="100"/>
      <add key="NotShuttingRouteSheet" value="1"/>
      <add key="RouteSheet" value="240"/>
      <add key="ShuttingRouteSheet" value="240"/>
      <add key="SignalSheet" value="120"/>
      <add key="SpecialIOSheet" value="30"/>
      <add key="SwitchSheet" value="100"/>
      <add key="SemiAutoCloseSheet" value="16"/>
      <add key="RequestToAgreeSheet" value="16"/>
      <add key="SpecialConditionSheet" value="16"/>-->
    </MaxNum>
    
    <MinNum>
    </MinNum>

    <CommModel>
      <add key="Name" value="0" />
      <add key="Id" value="1" />
      <add key="Direction" value="2" />
      <add key="DeviceID" value="3" />
      <add key="DeviceName" value="4" />
      <add key="MsgBlockType" value="5" />
      <add key="ByteOffSet" value="6"/>
      <add key="BitOffSet" value="7" />
      <add key="Width" value="8"/>
      <add key="InformationName" value="9"/>
    </CommModel>

  </columnsetting>
  <!--</Metro>-->
  <!--End-->

</configuration>