<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="GuidewayFileName" value="Guideway_DATA" />
    <add key="ObcuFileName" value="OBCU_DATA" />
    <add key="AtsFileName" value="ATS_DATA" />
    <add key="EsFileName" value="ES_DATA" />
    <add key="TCCFileName" value="TCC" />
    <add key="InterLockFileName" value="联锁表" />
    <add key="IOBitmapFileName" value="IO Bitmap" />
    <add key="SystemParaFileName" value="参数数据" />
    <add key="SubSystemIDFileName" value="子系统ID" />
    <add key="ZC子系统维护诊断列表" value="ZC子系统维护诊断列表" />
    <add key="OBCU子系统维护诊断列表" value="OBCU子系统维护诊断列表" />
    <add key="ATS子系统维护诊断列表" value="mms_alarm(ATSToMMS)" />
    <add key="CBI子系统维护诊断列表" value="CBI子系统日志" />
    <add key="CommT2TFileName" value="Tcc2Tcc" />
	<add key="CommT2CFileName" value="Tcc2Cbi"/>
	<add key="CommT2CtcFileName" value="Tcc2Ctc"/>
	<add key="CommT2TsrsFileName" value="Tcc2Tsrs"/>
    <add key="CommC2TFileName" value="C2T" />
    <!--<add key="CodeBitFileName" value="接口设备索引表" />-->
     <!--平台1.0-->
    <add key="EXTERNAL_IP" value="IP地址分配" />
    <add key="DEVICE_ID" value="Device Configuration" />
    <add key="INTERNAL_IP" value="Internal_IP" />
    <add key="ZC01_IOBITMAP" value="人民南路站" />
    <add key="ZC02_IOBITMAP" value="康宁街站" />
    <add key="ZC03_IOBITMAP" value="龙城大街西站" />
    <add key="ZC04_IOBITMAP" value="南中环街站" />
    <add key="ZC05_IOBITMAP" value="南内环街站" />
    <add key="ZC06_IOBITMAP" value="大南门站" />
    <add key="ZC07_IOBITMAP" value="府西街站" />
    <add key="ZC08_IOBITMAP" value="西涧河站" />
    <add key="DEPOT_IOBITMAP" value="车辆段" />
    <add key="TESTLINE_IOBITMAP" value="试车线" />
    <add key="PROTOCOL_PORT" value="Protocol_Port" />
    <add key="VERSION_CONTROL" value="Version Control LATEST" />
  </appSettings>
  
  <log4net>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="Console" />
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="1024" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="true" />
      <param name="DatePattern" value="yyyyMMdd'.log'" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date Thread ID : [%thread] : %message%newline" />
      </layout>
    </appender>
    
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
         Pattern to output the caller's file name and line number 
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>